doctype html
//if lt IE 7 
  html.ie.ie6.ie-lt10.ie-lt9.ie-lt8.ie-lt7.no-js(lang='es-MX')
//if IE 7 
  html.ie.ie7.ie-lt10.ie-lt9.ie-lt8.no-js(lang='es-MX')
//if IE 8 
  html.ie.ie8.ie-lt10.ie-lt9.no-js(lang='es-MX')
//if IE 9 
  html.ie.ie9.ie-lt10.no-js(lang='es-MX')
// [if gt IE 9] <!
html.no-js(lang='es-MX')
  // <![endif]
  // the "no-js" class is for Modernizr.
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    
    title Template | Jade · SASS · Typescript
    meta(name='author', content='')
    meta(name='description', content='')

    meta(name='google-site-verification', content='')
    meta(name='Copyright', content='')
    
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    link(rel='shortcut icon', href='favicon.ico')

    link(rel='stylesheet', href='assets/css/reset.css')
    link(rel='stylesheet', href='assets/css/styles.css')
    
    script(src='assets/js/libs/prefixfree.min.js')
    script(src='assets/js/libs/modernizr-2.8.3.dev.js')

    meta(name='twitter:card', content='')
    meta(name='twitter:site', content='')
    meta(name='twitter:title', content='')
    meta(name='twitter:description', content='')
    meta(name='twitter:url', content='')
    
    meta(property='og:title', content='')
    meta(property='og:description', content='')
    meta(property='og:url', content='')
    meta(property='og:image', content='')

  body
    .wrapper
      header
        h1
          a(href='/') Gulp | Jade · Typescript · SASS
        nav
          ol
            li
              a(href='') Nav Link 1
            li
              a(href='') Nav Link 2
            li
              a(href='') Nav Link 3
      article
        h1 Article Header
        br 
        p#greetings
        br
        h2 Article Subhead
        p Vestibulum lacus erat, volutpat vel dignissim at, fringilla ut felis.

      aside
        h2 Sidebar Content

    footer.site-footer
      p
        small © Copyright Your Name Here 2014. All Rights Reserved.

    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script.
      window.jQuery || document.write("<script src='assets/js/libs/jquery-1.11.3.min.js'>\\x3C/script>")
    script(src='assets/js/libs/TweenMax.min.js')
    script(src='assets/js/functions.js')
  
    //
      Asynchronous google analytics; this is the official snippet.
      Replace UA-XXXXXX-XX with your site's ID and uncomment to enable.
      <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-XXXXXX-XX', 'auto');
      ga('send', 'pageview');
      </script>
